{
  "ip": "0.0.0.0",
  "port": 9001,

  "soffice": "/usr/bin/soffice",
  "tidyHtml": "/usr/bin/tidy",

  "title": "{{ envString "TITLE" }}",
  "favicon": "{{ envString "FAVICON" }}",

  "showSettingsInAdminPage": {{ envBool "SHOW_SETTING_IN_ADMIN" }},

  {{ if (envBool "SSL_ENABLED") }}
    "ssl": {
      "key": "{{ envString "SSL_KEY" }}",
      "cert": "{{ envString "SSL_CERT" }}",
      "ca": [{{ if ne (envString "SSL_CA") "" }}"{{ envString "SSL_CA" }}"{{ end }}]
    },
  {{ end }}

  "dbType": "{{ envString "DB_TYPE" }}",
  "dbSettings" : {
    "user": "{{ envString "DB_USERNAME" }}",
    "password": "{{ envString "DB_PASSWORD" }}",
    "host": "{{ envString "DB_HOST" }}",
    "database": "{{ envString "DB_DATABASE" }}",
    "charset": "{{ envString "DB_CHARSET" }}",
    "filename": "{{ envString "DB_FILENAME" }}"
  },

  "defaultPadText": "{{ envString "DEFAULT_PAD_TEXT" }}",

  "padOptions": {
    "noColors": {{ envBool "PAD_OPTIONS_NO_COLORS" }},
    "showControls": {{ envBool "PAD_OPTIONS_SHOW_CONTROLS" }},
    "showChat": {{ envBool "PAD_OPTIONS_SHOW_CHAT" }},
    "showLineNumbers": {{ envBool "PAD_OPTIONS_SHOW_LINE_NUMBERS" }},
    "useMonospaceFont": {{ envBool "PAD_OPTIONS_USE_MONOSPACE_FONT" }},
    "userName": {{ envBool "PAD_OPTIONS_USERNAME" }},
    "userColor": {{ envBool "PAD_OPTIONS_USERCOLOR" }},
    "rtl": {{ envBool "PAD_OPTIONS_RTL" }},
    "alwaysShowChat": {{ envBool "PAD_OPTIONS_ALWAYS_SHOW_CHAT" }},
    "chatAndUsers": {{ envBool "PAD_OPTIONS_CHAT_AND_USERS" }},
    "lang": "{{ envString "PAD_OPTIONS_LANG" }}"
  },

  "suppressErrorsInPadText": {{ envBool "SUPPRESS_ERRORS_IN_PAD_TEXT" }},
  "requireSession": {{ envBool "REQUIRE_SESSION" }},
  "editOnly": {{ envBool "EDIT_ONLY" }},
  "sessionNoPassword": {{ envBool "SESSION_NO_PASSWORD" }},
  "minify": {{ envBool "MINIFY" }},
  "maxAge": {{ envInt "MAX_AGE" }},
  "allowUnknownFileEnds": {{ envBool "ALLOW_UNKNOWN_FILE_ENDS" }},
  "requireAuthentication": {{ envBool "REQUIRE_AUTHENTICATION" }},
  "requireAuthorization": {{ envBool "REQUIRE_AUTHORIZATION" }},
  "trustProxy": {{ envBool "TRUST_PROXY" }},
  "disableIPlogging": {{ envBool "DISABLE_IP_LOGGING" }},

  "users": {
    {{ if ne (envString "USERS_JSON") "" }}{{ envString "USERS_JSON" }},{{ end }}

    {{ if (envBool "GITHUB_ENABLED") }}
      "github": {
        "appId": "{{ envString "GITHUB_APP_ID" }}",
        "appSecret": "{{ envString "GITHUB_APP_SECRET" }}",
        "config": {
          "organization": "{{ envString "GITHUB_ORGANIZATION" }}",
          "team": "{{ envString "GITHUB_TEAM" }}",
          "users": [{{ if ne (envString "GITHUB_USERS") "" }}"{{ join (split (envString "GITHUB_USERS") ",") "\", \"" }}"{{ end }}]
        }
      },
    {{ end }}

    "{{ envString "ADMIN_NAME" }}": {
      "password": "{{ envString "ADMIN_PASSWORD" }}",
      "is_admin": true
    },
    "{{ envString "USER_NAME" }}": {
      "password": "{{ envString "USER_PASSWORD" }}",
      "is_admin": false
    }
  },

  "socketTransportProtocols" : ["{{ join (split (envString "SOCKET_TRANSPORT_PROTOCOLS") ",") "\", \"" }}"],

  "loadTest": "{{ envBool "LOAD_TEST" }}",
  "indentationOnNewLine": "{{ envBool "INDENTATION_ON_NEW_LINE" }}",
  "loglevel": "{{ envString "LOG_LEVEL" }}",

  "logconfig": {
    "appenders": [
      {
        "type": "console"
      }
    ]
  }
}
